<link rel="stylesheet" href="css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gulzar&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
<div class="donate">
    <h1>Support us</h1>
    <p>By donating small amount of money</p>
    <p>which will help us providing better service</p>
    <p>also upgrade server resources and get unique domain</p>
    <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js"></script><a class="dbox-donation-button" style="background: #8a26b5 url(https://donorbox.org/images/red_logo.png) no-repeat 37px;color: #fff;text-decoration: none;display: inline-block;font-size: 20px;font-weight: 600;padding: 17px 40px;padding-left: 75px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" href="https://donorbox.org/new-domain-and-upgrade-server-resources">Donate now</a>
</div>