<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gulzar&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">

</head>

<body>
    <div class="container-fluid p-lg-1 w-100 ">
        <nav class="navbar navbar-light bg-light w-100 shadow mb-3 ps-4">
            <h1 class="text-success">API DOCS</h1>
        </nav>
        <div class="docs p-2">
            <ul>
                <li class="section">
                    <h2 class=" badge text-bg-success">/users</h2>
                    <div class="table-responsive">
                        <table class="table table-success">
                            <thead>
                                <tr>
                                    <th scope="col">description</th>
                                    <th scope="col">path</th>
                                    <th scope="col">method</th>
                                    <th scope="col">body</th>
                                    <th scope="col">parameters</th>
                                    <th scope="col">queries</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">get user data by id (profile)</th>
                                    <td>/users/:id</td>
                                    <td>GET</td>
                                    <td>--</td>
                                    <td>id : string</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">logout from account</th>
                                    <td>/logout</td>
                                    <td>GET</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">signup new user account</th>
                                    <td>/users/signup</td>
                                    <td>POST</td>
                                    <td>
                                        <code>
                                        {
                                            <br> &nbsp&nbsp&nbsp "fname":"string"<br>
                                            <br> &nbsp&nbsp&nbsp "lname":"string"<br>
                                            <br> &nbsp&nbsp&nbsp "username":"string"<br>
                                            <br> &nbsp&nbsp&nbsp "password":"string"<br>
                                            <br> &nbsp&nbsp&nbsp "email":"string"<br>
                                            <br> &nbsp&nbsp&nbsp "phone":"string"<br>
                                            <br> &nbsp&nbsp&nbsp "dob":"string"<br>
                                            <br> &nbsp&nbsp&nbsp "gender":"string"<br>
                                            <br> &nbsp&nbsp&nbsp "country":"string"<br>
                                            <br> &nbsp&nbsp&nbsp "bio":"string"<br>
                                            <br> &nbsp&nbsp&nbsp "profile":"file/image"<br>
                                        }
                                    </code>
                                    </td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">login to account</th>
                                    <td>/users/login</td>
                                    <td>
                                        POST
                                    </td>
                                    <td>
                                        <code>
                                            {
                                                <br>&nbsp&nbsp&nbsp"lname":"string"<br>
                                                <br>&nbsp&nbsp&nbsp"username":"string"<br>
                                                }
                                        </code>
                                    </td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">follow another user</th>
                                    <td>/users/follow/:followId</td>
                                    <td>PUT</td>
                                    <td>--</td>
                                    <td>followId : string</td>
                                    <td>--</td>
                                </tr>

                                <tr>
                                    <th style="vertical-align: middle;" scope="row">unfollow followed user</th>
                                    <td>/users/follow/:unfollowId</td>
                                    <td>PUT</td>
                                    <td>--</td>
                                    <td>unfollowId : string</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">update name</th>
                                    <td>/users/name</td>
                                    <td>PUT</td>
                                    <td><code>
                                        {<br>&nbsp&nbsp&nbsp"fname":"string"<br>
                                        <br>&nbsp&nbsp&nbsp"lname":"string"<br>
                                        <br>&nbsp&nbsp&nbsp"password":"string"<br>
                                        }
                                    </code></td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">update password</th>
                                    <td>/users/password</td>
                                    <td>PUT</td>
                                    <td><code>
                                        {<br>&nbsp&nbsp&nbsp"newPass":"string"<br>
                                        <br>&nbsp&nbsp&nbsp"oldPass":"string"<br>
                                        }
                                    </code></td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">update bio</th>
                                    <td>/users/bio</td>
                                    <td>PUT</td>
                                    <td><code>
                                        {<br>&nbsp&nbsp&nbsp"bio":"string"<br>
                                        }
                                    </code></td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">update image</th>
                                    <td>/users/image</td>
                                    <td>PUT</td>
                                    <td><code>
                                        {<br>&nbsp&nbsp&nbsp"profile":"image/file"<br>
                                        }
                                    </code></td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">delete account</th>
                                    <td>/users/</td>
                                    <td>DELETE</td>
                                    <td><code>
                                        {<br>&nbsp&nbsp&nbsp"password":"string"<br>
                                        }
                                    </code></td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </li>
                <li class="section">
                    <h2 class="badge text-bg-success">/posts</h2>
                    <div class="table-responsive">
                        <table class="table table-success">
                            <thead>
                                <tr>
                                    <th scope="col">description</th>
                                    <th scope="col">path</th>
                                    <th scope="col">method</th>
                                    <th scope="col">body</th>
                                    <th scope="col">parameters</th>
                                    <th scope="col">queries</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">get post by it's id</th>
                                    <td>/posts/:id</td>
                                    <td>GET</td>
                                    <td>--</td>
                                    <td>id:integer</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">
                                        get 10 posts sorted by created_at
                                        <br>
                                        last post fetched's created_at sent as a query
                                        <br>
                                        to get the next 10 posts
                                    </th>
                                    <td>/posts/</td>
                                    <td>GET</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>?created_at=date (last created_at fetched)</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">
                                        Get user posts to give permssion to
                                        <br>
                                        edit or delete his posts
                                    </th>
                                    <td>/posts/userposts</td>
                                    <td>GET</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">Create new post</th>
                                    <td>/posts/create</td>
                                    <td>POST</td>
                                    <td>
                                        <code>
                                        {
                                            <br>&nbsp&nbsp&nbsp"content":"string"<br>
                                            <br>&nbsp&nbsp&nbsp"post":"image/file"<br>
                                        }
                                        </code>
                                    </td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">up post</th>
                                    <td>/posts/up</td>
                                    <td>PUT</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>?id=integer (post id)</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">edit post content</th>
                                    <td>/posts/</td>
                                    <td>PUT</td>
                                    <td>
                                        <code>
                                        {
                                            <br>&nbsp&nbsp&nbsp"id":integer<br>
                                            <br>&nbsp&nbsp&nbsp"content":"string"<br>
                                        }
                                        </code>
                                    </td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">Delete post by id</th>
                                    <td>/posts/:id</td>
                                    <td>DELETE</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>

                            </tbody>

                        </table>
                </li>
                <li class="section">
                    <h2 class="badge text-bg-success">/articles</h2>
                    <div class="table-responsive">
                        <table class="table table-success">
                            <thead>
                                <tr>
                                    <th scope="col">description</th>
                                    <th scope="col">path</th>
                                    <th scope="col">method</th>
                                    <th scope="col">body</th>
                                    <th scope="col">parameters</th>
                                    <th scope="col">queries</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">get article by it's id</th>
                                    <td>/articles/:id</td>
                                    <td>GET</td>
                                    <td>--</td>
                                    <td>id:integer</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">
                                        get 10 articles sorted by created_at
                                        <br>
                                        last article fetched's created_at sent as a query
                                        <br>
                                        to get the next 10 articles
                                    </th>
                                    <td>/articles/</td>
                                    <td>GET</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>?created_at=date (last created_at fetched)</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">
                                        Get user articles to give permssion to
                                        <br>
                                        edit or delete his articles
                                    </th>
                                    <td>/articles/userarticles</td>
                                    <td>GET</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">Create new article</th>
                                    <td>/articles/create</td>
                                    <td>POST</td>
                                    <td>
                                        <code>
                                        {
                                            <br>&nbsp&nbsp&nbsp"title":"string"<br>
                                            <br>&nbsp&nbsp&nbsp"content":"string"<br>
                                            <br>&nbsp&nbsp&nbsp"article":"image/file"<br>
                                        }
                                        </code>
                                    </td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">up article</th>
                                    <td>/articles/up</td>
                                    <td>PUT</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>?id=integer (article id)</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">edit article content</th>
                                    <td>/articles/</td>
                                    <td>PUT</td>
                                    <td>
                                        <code>
                                        {
                                            <br>&nbsp&nbsp&nbsp"id":integer<br>
                                            <br>&nbsp&nbsp&nbsp"content":"string"<br>
                                            <br>&nbsp&nbsp&nbsp"title":"string"<br>
                                        }
                                        </code>
                                    </td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle;" scope="row">Delete article by id</th>
                                    <td>/articles/:id</td>
                                    <td>DELETE</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>

                            </tbody>

                        </table>
                </li>
                <li class="section">
                    <h2 class="badge text-bg-success">/comments</h2>
                    <ul></ul>
                </li>
                <li class="section">
                    <h2 class="badge text-bg-success">/reports</h2>
                    <ul></ul>
                </li>
                <li class="section">
                    <h2 class="badge text-bg-success">/dashboard</h2>
                    <ul></ul>
                </li>
            </ul>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>