*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif, 'Gulzar';
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
li {
  margin: 10px;
}
.table > tbody > tr > td {
  vertical-align: middle;
  line-height: normal;
  padding: 20px;
}
.badge {
  padding: 10px 20px !important;
  font-size: 24px !important;
}
.donate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
  font-family: inherit !important;
  text-align: center;
  background-color: #eee;
}

.donate p{
  margin-bottom: 10px;
}
.donate p:last-of-type{
  margin-bottom: 30px;
}
.donate h1{
  margin-bottom: 10px;
  color: #8a26b5;
}
