@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
:root {
  --var-primary-color: #e0e0e0;
  --var-secondary-color: #6a1db8;
  --var-third-color: #7a21d353;
  --var-post-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-notification-items: #6a1db8;
  --var-header-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-header-height: 55px;
  --var-profile-Bgcolor: linear-gradient(30deg, #6a1db8, #b72272);
  --var-profile-secondary-Bgcolor: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-aside-bgColor: linear-gradient(45deg, #f7f5f2, #f5f5f5);
  --var-aside-color: #252525;
  --var-aside-hover-color: #6a1db8;
  --var-hover-color: #6a1db8;
  --var-overview-color: #eeeded;
  --var-overlay-color: #1d1d1d92;
  --var-background-overlay-layer: linear-gradient(45deg, #32323244, #5b5b5b81);
  --var-backdrop-overview-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-text-color: #141414;
  --var-icon-background: #deddddda;
  --var-border-color: #afafafbf;
  --var-comments-bg-clr: #eeeeee;
  --var-active-indecator: #36ae7c;
  --var-border-radius: 0.6rem;
  --var-shadow-color: #8ea6b4;
}

.post-header {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.3rem 1rem;
  border: none;
  border-top-right-radius: var(--var-border-radius);
  border-top-left-radius: var(--var-border-radius);
}

.user-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
}

.user-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 60px;
  aspect-ratio: 1 / 1;
}

.user-image > img {
  max-width: 80%;
  border: 2px solid var(--var-secondary-color);
  border-radius: 50%;
  padding: 0.13rem;
  -webkit-box-shadow: 1px 3px 0.35rem var(--var-shadow-color);
          box-shadow: 1px 3px 0.35rem var(--var-shadow-color);
}

.user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.user-name {
  font-weight: bold;
  text-transform: capitalize;
}

.post-date {
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 0;
}

.more-options {
  position: relative;
}

.more-options > label {
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-content: center;
  color: var(--var-text-color);
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 32px;
  height: 32px;
  -webkit-transition: 0.2s background-color ease;
  transition: 0.2s background-color ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.more-options > label:hover {
  background-color: #ccc;
}

.opthons-wrapper {
  position: absolute;
  z-index: 7;
  right: 10px;
  top: 100%;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2rem;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0.5rem 0;
  color: var(--var-text-color);
  background: var(--var-post-color);
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  border-radius: var(--var-border-radius);
  pointer-events: none;
  -webkit-box-shadow: 5px 5px 8px var(--var-shadow-color);
          box-shadow: 5px 5px 8px var(--var-shadow-color);
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.opthons-wrapper > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.opthons-wrapper > li:hover {
  color: var(--var-secondary-color);
}

.opthons-wrapper > li:last-child {
  border-top: 1px solid var(--var-text-color);
}

.openOptions {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}
/*# sourceMappingURL=postHeader.module.css.map */