@import "../../../../scss/utilities";
.post-header {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.3rem 1rem;
  border: none;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}
.user-lable {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.user-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60px;
  aspect-ratio: 1 / 1;
  > img {
    max-width: 80%;
    border: 2px solid $secondary-color;
    border-radius: 50%;
    padding: 0.13rem;
    box-shadow: 1px 3px 0.35rem $shadow-color;
  }
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-name {
  font-weight: bold;
  text-transform: capitalize;
}
.post-date {
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 0;
}
.more-options {
  position: relative;
  > label {
    display: grid;
    place-items: center;
    place-content: center;
    color: $text-color;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 32px;
    height: 32px;
    transition: 0.2s background-color ease;
    user-select: none;

    &:hover {
      background-color: #ccc;
    }
  }
}
.opthons-wrapper {
  position: absolute;
  z-index: 7;
  right: 10px;
  top: 100%;
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0.5rem 0;
  color: $text-color;
  background: $post-color;
  transform: translateY(-20px);
  opacity: 0;
  border-radius: $border-radius;
  pointer-events: none;
  box-shadow: 5px 5px 8px $shadow-color;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  > li {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;

    &:hover {
      color: $secondary-color;
    }
  }
  > li:last-child {
    border-top: 1px solid $text-color;
  }
}
.openOptions {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}
