@import "../../scss/utilities";
.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: $primary-color;
  padding-top: 3.5rem;

  @media (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 140px;
  }
}
.posts-wrapper {
  position: relative;
  z-index: 5;
  max-height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: auto;
  align-items: center;
  overflow-y: auto;

  @media (max-width: 768px) {
    max-height: calc(100vh - 140px) !important;
  }
}
.posts-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: $primary-color;
  width: 8px;
  padding-block: 0.5rem;
  border-radius: 45px;
}
.posts-wrapper::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background-color: $secondary-color;
  border-radius: 45px;
}
