@import "../../../scss/utilities";

.post {
  position: relative;
  min-width: 95%;
  max-width: 95%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  border-radius: $border-radius;
  transition: height 0.3s ease-out;
  background: $post-color;
  box-shadow: 1px 3px 0.375rem $shadow-color;

  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
  }
}
.no-media {
  width: 65%;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
  }
}

.comments-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0.5rem;
  margin-top: 0.5rem;
  background-color: $comments-bg-clr;
  border-radius: $border-radius;
}
.comment {
  display: flex;
}
.user {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
}
.comment-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  > img {
    max-width: 70%;
  }
}
.comment-content {
  display: flex;
  width: 100%;
  background-color: $secondary-color;
  border-radius: 45px;
  padding: 0.3rem;
  > :first-child {
    margin-bottom: 0;
  }
}
