@import "../../../scss/utilities";
.posts-list {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  justify-items: center;
  align-items: start;
  margin-top: 1rem;
  gap: 1rem;
}
