@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
:root {
  --var-primary-color: #e0e0e0;
  --var-secondary-color: #6a1db8;
  --var-third-color: #7a21d353;
  --var-post-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-notification-items: #6a1db8;
  --var-header-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-header-height: 55px;
  --var-profile-Bgcolor: linear-gradient(30deg, #6a1db8, #b72272);
  --var-profile-secondary-Bgcolor: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-aside-bgColor: linear-gradient(45deg, #f7f5f2, #f5f5f5);
  --var-aside-color: #252525;
  --var-aside-hover-color: #6a1db8;
  --var-hover-color: #6a1db8;
  --var-overview-color: #eeeded;
  --var-overlay-color: #1d1d1d92;
  --var-background-overlay-layer: linear-gradient(45deg, #32323244, #5b5b5b81);
  --var-backdrop-overview-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-text-color: #141414;
  --var-icon-background: #deddddda;
  --var-border-color: #afafafbf;
  --var-comments-bg-clr: #eeeeee;
  --var-active-indecator: #36ae7c;
  --var-border-radius: 0.6rem;
  --var-shadow-color: #8ea6b4;
}

.about-tap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: var(--var-profile-secondary-Bgcolor);
  color: var(--var-text-color);
  padding: 1rem;
  border-radius: var(--var-border-radius);
  -webkit-box-shadow: 2px 2px 0.75rem var(--var-shadow-color);
          box-shadow: 2px 2px 0.75rem var(--var-shadow-color);
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--var-secondary-color);
}

.overview {
  padding: 1rem;
  border-radius: var(--var-border-radius);
  background-color: var(--var-profile-secondary-Bgcolor);
  -webkit-box-shadow: 0px 0px 0.375rem var(--var-shadow-color);
          box-shadow: 0px 0px 0.375rem var(--var-shadow-color);
}

.overview > :first-child {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.7rem;
}

.overview > :nth-child(2) {
  text-transform: capitalize;
  font-weight: 700;
  opacity: 0.6;
}

.informations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.informations-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  background-color: var(--var-profile-secondary-Bgcolor);
  border-radius: var(--var-border-radius);
  -webkit-box-shadow: 0px 0px 0.375rem var(--var-shadow-color);
          box-shadow: 0px 0px 0.375rem var(--var-shadow-color);
}

@media (max-width: 992px) {
  .informations-list > li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.informations-list > li > :last-child {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  cursor: pointer;
}

.icon {
  margin-inline: 0.5rem;
  font-size: 1.5rem;
  color: var(--var-secondary-color);
}
/*# sourceMappingURL=aboutTap.module.css.map */