@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
:root {
  --var-primary-color: #e0e0e0;
  --var-secondary-color: #6a1db8;
  --var-third-color: #7a21d353;
  --var-post-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-notification-items: #6a1db8;
  --var-header-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-header-height: 55px;
  --var-profile-Bgcolor: linear-gradient(30deg, #6a1db8, #b72272);
  --var-profile-secondary-Bgcolor: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-aside-bgColor: linear-gradient(45deg, #f7f5f2, #f5f5f5);
  --var-aside-color: #252525;
  --var-aside-hover-color: #6a1db8;
  --var-hover-color: #6a1db8;
  --var-overview-color: #eeeded;
  --var-overlay-color: #1d1d1d92;
  --var-background-overlay-layer: linear-gradient(45deg, #32323244, #5b5b5b81);
  --var-backdrop-overview-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-text-color: #141414;
  --var-icon-background: #deddddda;
  --var-border-color: #afafafbf;
  --var-comments-bg-clr: #eeeeee;
  --var-active-indecator: #36ae7c;
  --var-border-radius: 0.6rem;
  --var-shadow-color: #8ea6b4;
}

.loading-wrapper {
  width: 320px;
  margin-top: 1.5rem;
}

.loading-wrapper > img {
  max-width: 100%;
}

.post {
  position: relative;
  width: 75%;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.5rem;
  border-radius: var(--var-border-radius);
  background-color: var(--var-post-color);
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  -webkit-backdrop-filter: blur(45px);
          backdrop-filter: blur(45px);
  -webkit-box-shadow: 0 0 0.65rem var(--var-shadow-color);
          box-shadow: 0 0 0.65rem var(--var-shadow-color);
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .post {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.no-media {
  width: 65%;
}

@media (max-width: 768px) {
  .no-media {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.media-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-block: 0;
  overflow: hidden;
  padding: 2rem 1.5rem;
  border-top-left-radius: var(--var-border-radius);
  border-top-right-radius: var(--var-border-radius);
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}

@media (max-width: 768px) {
  .media-wrapper {
    width: 100%;
  }
}

.comments-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem 0.5rem;
  margin-top: 0.5rem;
  background-color: var(--var-comments-bg-clr);
  border-radius: var(--var-border-radius);
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.comment-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 100%;
}

.comment-user > img {
  max-width: 70%;
}

.comment-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: var(--var-secondary-color);
  border-radius: 45px;
  padding: 0.3rem;
}

.comment-content > :first-child {
  margin-bottom: 0;
}

.post-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}

.post-content > button {
  display: inline-block;
  width: 100%;
  border-radius: 45px;
  padding: 0.3rem 0.5rem;
}

.post-content > button > :first-child {
  font-size: 1.5rem;
  color: var(--var-secondary-color);
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 5px 0 45px #2525254a;
          box-shadow: 5px 0 45px #2525254a;
}

.post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
  background-color: var(--var-primary-color);
  -webkit-box-shadow: 0px -15px 25px 0px var(--var-shadow-color);
          box-shadow: 0px -15px 25px 0px var(--var-shadow-color);
  border-top: 2px solid var(--var-border-color);
  border-bottom: 2px solid var(--var-border-color);
  -webkit-backdrop-filter: blur(45px);
          backdrop-filter: blur(45px);
}

.user-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
}

.user-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 60px;
  aspect-ratio: 1 / 1;
}

.user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
}

.more-options {
  position: relative;
}

.more-options > label {
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-content: center;
  color: var(--var-text-color);
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 32px;
  height: 32px;
  -webkit-transition: 0.2s background-color ease;
  transition: 0.2s background-color ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.more-options > label:hover {
  background-color: #ccc;
}

.opthons-wrapper {
  position: absolute;
  right: 0;
  width: 180px;
  border: 1px solid #ccc;
  list-style: none;
  padding: 1rem 0.5rem;
  color: var(--var-text-color);
  background-color: var(--var-primary-color);
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.opthons-wrapper > li {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.opthons-wrapper > li:hover {
  background-color: var(--var-secondary-color);
  color: #ccc;
}

.openOptions {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.reactions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  border-bottom: 2px solid var(--var-border-color);
  border-radius: var(--var-border-radius);
  overflow: hidden;
}

.likes,
.disLike,
.comments,
.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  width: calc(100% / 4);
  border: none;
  padding: 00.475rem;
}

@media (max-width: 768px) {
  .likes,
  .disLike,
  .comments,
  .share {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.likes > :first-child,
.disLike > :first-child,
.comments > :first-child,
.share > :first-child {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .likes > :first-child,
  .disLike > :first-child,
  .comments > :first-child,
  .share > :first-child {
    font-size: 1.2rem;
  }
}

.likes > :nth-child(2),
.disLike > :nth-child(2),
.comments > :nth-child(2),
.share > :nth-child(2) {
  margin-bottom: 0;
  font-weight: bold;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .likes > :nth-child(2),
  .disLike > :nth-child(2),
  .comments > :nth-child(2),
  .share > :nth-child(2) {
    font-weight: normal;
    opacity: 0.8;
  }
}
/*# sourceMappingURL=loading.module.css.map */