@import "../../scss/utilities";

.profile-wrapper {
  position: relative;
  max-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 65px;
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-scroll-box {
  width: 100%;
  max-height: calc(100vh - 100px);
  margin-block: 1rem;
  overflow-y: auto;
  border-radius: $border-radius;
  padding: 0.2rem 0.5rem;
  border-radius: $border-radius;
}
.profile-scroll-box::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: $primary-color;
  width: 8px;
  padding-block: 0.5rem;
  border-radius: 45px;
}
.profile-scroll-box::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background-color: $secondary-color;
  border-radius: 45px;
}
.profile-cover {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $overlay-color;
    width: 100%;
    height: 100%;
  }
}
.profile-cover-change {
  position: absolute;
  z-index: 10;
  bottom: 5px;
  right: 5px;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: $border-radius;

  @media (max-width: 768px) {
    right: 5px;
    top: 5px;
    bottom: unset;
    width: calc(100% - 10px);
  }

  > input {
    display: none;
  }
  > label {
    display: flex;
    gap: 0.5rem;
    color: #191919;
    text-transform: capitalize;
    cursor: pointer;

    > :first-child {
      font-size: 1.8rem;
    }
  }
}
.profile-personal-image {
  position: relative;
  width: 200px;
  height: 100%;

  @media (max-width: 768px) {
    height: 30%;
    width: 100%;
  }
  > img {
    position: absolute;
    top: -65px;
    left: 35px;
    border-radius: 50%;
    width: 80%;
    padding: 4px;
    background-color: $primary-color;
    border: 6px solid $secondary-color;
    aspect-ratio: 1 / 1;
    @media (max-width: 768px) {
      top: -90px;
      left: 50%;
      transform: translateX(-50%);
      width: 250px;
    }
  }
}
.user-pio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15rem;
  margin-bottom: 1rem;
  background: $profile-primary;
  box-shadow: 0 -10px 40px $shadow-color;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  @media (max-width: 768px) {
    min-height: 370px;
    align-items: center;
    align-items: center;
  }
}
.pio-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.user-pio-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  @media (min-width: 992px) {
    align-self: flex-start;
    margin-top: 0.5rem;
  }

  @media (max-width: 768px) {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  > li {
    display: flex;
    gap: 1rem;
  }
}
.pio-children {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefefe;
  > :nth-child(2) {
    font-size: 1.5rem;
    color: #019267;
  }
}
.user-info-list {
  display: flex;
  margin-bottom: 1rem;
  color: #fefefe;
  gap: 2.5rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  > li {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
    > :first-child {
      font-size: 1.3rem;
      font-weight: 700;
    }
    > :nth-child(2) {
      font-weight: bold;
    }
  }
}
.username {
  font-size: 1.5rem;
}
.taps {
  @apply auto-rows-min  divide-x-4 flex  w-full h-14 overflow-x-auto;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
.taps-children {
  @apply w-3/12 bg-slate-100 text-[#1363DF] font-bold capitalize text-center relative;
}

.taps-children > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}
.taps-children > a.active {
  background-color: $hover-color;
  color: #fefefe;
}
