@import "../../../../scss/utilities";

.media-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-block: 0;
  overflow: hidden;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  transition: height 0.5s ease-out;

  @media (max-width: 768px) {
    width: 100%;
  }

  > img {
    border-radius: $border-radius;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 5px 8px $shadow-color;
  }
}
