@import "../../scss/utilities";
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  width: 100%;
  min-height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $header-color;
  box-shadow: 2px 3px 0.7rem $shadow-color;
  @media (max-width: 768px) {
    padding: 0 1rem 0 0.3rem;
  }
}
.logo {
  height: 65px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30px;
  margin-inline-end: auto;
  transition: flex 0.5s ease-out;
  border: 2px solid transparent;
  background: $primary-color;
  border-radius: $border-radius;

  > input {
    flex-grow: 1;
    width: 85%;
    height: 100%;
    border: none;
    border-left: 0;
    color: $text-color;
    padding: 0 0.5rem;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background: $primary-color;

    &:focus {
      outline: none;
      border: 1px solid $secondary-color;
      background: $post-color;
    }
  }
  > button {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    background: $secondary-color;
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;

    &:focus {
      border: 1px solid $secondary-color;
    }
  }
}
.togglerButton {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60px;

  > button {
    width: 45px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    color: $text-color;
    font-size: 2rem;
    transition: opacity 0.5s ease;
    border: none;

    &:focus {
      background: $post-color;
    }
    :hover {
      background: $post-color;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    align-self: flex-start;
  }
}
.notification-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 130px;
  height: 65px;
}
.notification-icons,
.messages-icons {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  transition: background-color 0.3s ease-out, background 0.3s ease-out;
  color: $text-color;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: $post-color;
  }

  &:hover {
    background-color: $secondary-color;
  }
}

.user {
  position: relative;
  min-width: 130px;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-inline: 1rem;
  color: $text-color;

  @media (max-width: 767px) {
    min-width: fit-content !important;
  }
}
.user-image {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60px;
  height: 60px;
  padding: 0.4rem;
  border: none;
  background-color: transparent;

  > img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid $secondary-color;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 0 0 8px $shadow-color;
  }
  .indecator {
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 4px -3px 20px;
  }
}
.userName {
  display: flex;
  text-transform: capitalize;
  > p {
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
