@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
:root {
  --var-primary-color: #e0e0e0;
  --var-secondary-color: #6a1db8;
  --var-third-color: #7a21d353;
  --var-post-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-notification-items: #6a1db8;
  --var-header-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-header-height: 55px;
  --var-profile-Bgcolor: linear-gradient(30deg, #6a1db8, #b72272);
  --var-profile-secondary-Bgcolor: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-aside-bgColor: linear-gradient(45deg, #f7f5f2, #f5f5f5);
  --var-aside-color: #252525;
  --var-aside-hover-color: #6a1db8;
  --var-hover-color: #6a1db8;
  --var-overview-color: #eeeded;
  --var-overlay-color: #1d1d1d92;
  --var-background-overlay-layer: linear-gradient(45deg, #32323244, #5b5b5b81);
  --var-backdrop-overview-color: linear-gradient(90deg, #f7f5f2, #f5f5f5);
  --var-text-color: #141414;
  --var-icon-background: #deddddda;
  --var-border-color: #afafafbf;
  --var-comments-bg-clr: #eeeeee;
  --var-active-indecator: #36ae7c;
  --var-border-radius: 0.6rem;
  --var-shadow-color: #8ea6b4;
}

.overview {
  position: relative;
  z-index: 5;
  min-width: 280px;
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.7rem;
  background: var(--var-backdrop-overview-color);
  border-radius: var(--var-border-radius);
  -webkit-box-shadow: 1px 3px 0.3rem var(--var-shadow-color);
          box-shadow: 1px 3px 0.3rem var(--var-shadow-color);
}

@media (min-width: 992px) {
  .overview {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: 992px) {
  .hide-overview-ltr {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    display: none;
  }
}

@media (max-width: 992px) {
  .hide-overview-rtl {
    display: none;
  }
}

.Profile-image-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: var(--var-border-radius);
  border-top-right-radius: var(--var-border-radius);
  overflow: hidden;
}

.Profile-image-wrapper:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  inset: 0;
  background: var(--var-background-overlay-layer);
}

.Profile-image-wrapper > img {
  position: relative;
  z-index: 3;
  max-width: 100px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--var-secondary-color);
  margin-bottom: 4.5rem;
}

.username {
  position: absolute;
  top: -50px;
}

.statistics {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  background: var(--var-backdrop-overview-color);
  border-top-left-radius: var(--var-border-radius);
  border-top-right-radius: var(--var-border-radius);
  border: 4px solid var(--var-border-color);
  border-top-color: transparent;
}

.statistics > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0.375rem 0.5rem;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  color: var(--var-text-color);
  text-align: center;
  font-size: 0.8rem;
}

.statistics > li > :nth-child(2) {
  text-transform: capitalize;
}

.statistics > li:not(:last-child) {
  border-right: 1px solid var(--var-text-color);
}

.overview-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  height: 50%;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: var(--var-border-radius);
  background-color: var(--var-post-color);
}
/*# sourceMappingURL=overview.module.css.map */